.header {
  background-image: url(../images/bg.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  padding-bottom: 5rem;
  background-size: cover;
  position: relative; }
  .header--navbar {
    width: 60%;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header--navbar-nav {
      display: flex;
      align-items: center;
      gap: 2.5rem;
      list-style: none; }
    .header--navbar-link {
      text-decoration: none;
      color: #fff;
      font-size: 1.7rem;
      font-weight: 600; }
    .header--navbar-item::after {
      content: "";
      height: 2px;
      width: 0;
      display: block;
      margin: 0 auto;
      background-color: #ef1570;
      transition: all 0.3s; }
    .header--navbar-item:hover::after {
      width: 100%; }
    .header--navbar--brand {
      text-decoration: none;
      font-size: 2.5rem;
      color: #fff;
      font-weight: 900; }
  .header--hero-container {
    width: 60%;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
  .header--img {
    width: 100%; }
  .header--upper-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #ffa90a; }
  .header--title {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 1.5rem; }
  .header--text {
    font-size: 1.7rem;
    color: #fff;
    margin-bottom: 1.6rem; }
    .header--text span {
      display: block; }

.fa-solid.fa-xmark {
  display: none; }

.fa-solid.fa-bars {
  display: none; }

@media only screen and (max-width: 1600px) {
  .header--hero-container {
    width: 80%;
    gap: 4.5rem; }
  .header--title {
    font-size: 3.5rem; } }

@media only screen and (max-width: 1400px) {
  .header--navbar {
    width: 80%; } }

@media only screen and (max-width: 980px) {
  .header {
    margin-bottom: 15rem; }
    .header--hero-container {
      grid-template-columns: 1fr;
      width: 80%;
      gap: 4.5rem; }
    .header--title {
      font-size: 3.5rem; }
    .header--navbar {
      width: 80%; }
      .header--navbar-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 300px;
        height: 100vh;
        top: 0;
        left: -300px;
        text-align: left;
        z-index: 10;
        background-color: #ef1570;
        padding: 3rem;
        padding-top: 10rem;
        align-items: flex-start;
        transition: all 0.5s; }
    .header--hero-container {
      margin: 8rem auto; }
  .fa-solid.fa-xmark {
    display: block;
    color: #fff;
    font-size: 2.5rem;
    margin: 1rem;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem; }
  .fa-solid.fa-bars {
    display: block;
    color: #fff;
    font-size: 2.5rem;
    margin: 1rem;
    cursor: pointer; } }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 55%; } }

body {
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.4; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: var(--white); }

::-webkit-scrollbar-thumb {
  background: gray; }

.btn {
  border: none;
  outline: none;
  background-image: linear-gradient(to right, #ef1f76, #ffa90a);
  padding: 1.5rem 3rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer; }
  .btn:active {
    transform: translateY(4px); }

.btn-card {
  border: none;
  outline: none;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ef1570; }

.about--container {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem; }

.about--img {
  width: 100%; }

.about--title {
  font-size: 4rem;
  color: #1f2470;
  font-weight: 900;
  margin-bottom: 3rem; }
  .about--title::after {
    content: "";
    display: block;
    width: 40%;
    background-image: linear-gradient(#ef1570, #ffa90a);
    height: 5px;
    margin-top: 1.2rem; }

.about--text {
  font-size: 1.6rem;
  color: #1f2470;
  margin-bottom: 3.5rem; }

.about--stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto; }

.about--stat-1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #1f2470; }

.about--stat-2 {
  font-size: 1.5rem;
  color: #1f2470; }

@media only screen and (max-width: 1550px) {
  .about--container {
    width: 80%;
    margin: 0 auto; }
  .about--title {
    font-size: 3rem; }
  .about--stat-1 {
    font-size: 2.5rem; }
  .about--stat-2 {
    font-size: 1.2rem; } }

@media only screen and (max-width: 990px) {
  .about--container {
    width: 80%;
    grid-template-columns: 1fr;
    margin: 0 auto; }
  .about--title {
    font-size: 2rem; } }

@media only screen and (max-width: 600px) {
  .about--stats {
    flex-direction: column;
    gap: 2.5rem; } }

.services {
  text-align: center;
  padding: 15rem 0; }
  .services--title {
    font-size: 3.5rem;
    margin-bottom: 4.5rem;
    font-weight: 900;
    color: #1f2470; }
    .services--title::after {
      content: "";
      display: block;
      width: 13%;
      background-image: linear-gradient(#ef1570, #ffa90a);
      height: 5px;
      margin: 0 auto;
      margin-top: 2.5rem; }
  .services--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 60%;
    margin: 0 auto;
    gap: 3rem; }
  .services--service {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3.5rem 2rem;
    padding-top: 6rem;
    transition: all 0.3s; }
    .services--service:hover {
      transform: translateY(-5px); }
    .services--service-title {
      font-size: 2.3rem;
      margin-bottom: 1.5rem;
      color: #1f2470;
      font-weight: 900; }
    .services--service-text {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
      color: #262e5a; }

.fa-tv {
  font-size: 3.5rem;
  margin-bottom: 3.5rem;
  color: #ef1570; }

@media only screen and (max-width: 1100px) {
  .services--container {
    grid-template-columns: repeat(2, 1fr); }
  .services--title {
    font-size: 3.5rem;
    margin-bottom: 4.5rem;
    font-weight: 900;
    color: #1f2470; }
    .services--title::after {
      content: "";
      display: block;
      width: 30%;
      background-image: linear-gradient(#ef1570, #ffa90a);
      height: 5px;
      margin: 0 auto;
      margin-top: 2.5rem; } }

@media only screen and (max-width: 600px) {
  .services--container {
    width: 80%;
    grid-template-columns: 1fr; }
  .services--title {
    font-size: 3.5rem;
    margin-bottom: 4.5rem;
    font-weight: 900;
    color: #1f2470; }
    .services--title::after {
      content: "";
      display: block;
      width: 45%;
      background-image: linear-gradient(#ef1570, #ffa90a);
      height: 5px;
      margin: 0 auto;
      margin-top: 2.5rem; } }

.feautures {
  padding: 10rem 0; }

.features {
  padding: 15rem 0; }
  .features--container {
    width: 60%;
    margin: 0 auto;
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 4.5rem; }
  .features--title {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 4.5rem;
    font-weight: 900;
    color: #1f2470; }
    .features--title::after {
      content: "";
      display: block;
      width: 10%;
      background-image: linear-gradient(#ef1570, #ffa90a);
      height: 5px;
      margin: 0 auto;
      margin-top: 2.5rem; }
  .features--feature--img {
    width: 100%; }
  .features--features-box-1 {
    display: flex;
    flex-direction: column;
    gap: 4.5rem; }
  .features--feature-1 {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 3.5rem; }
  .features--feature--title {
    font-size: 2rem;
    margin-bottom: 1.1rem;
    color: #1f2470;
    font-weight: 900; }
  .features--feature--text {
    font-size: 1.5rem;
    color: #262e5a; }

.fa-lightbulb {
  font-size: 3.5rem;
  background-color: #1f2470;
  padding: 2.5rem 3rem;
  border-radius: 50%;
  transform: translateY(-1.5rem);
  color: #fff; }

@media only screen and (max-width: 1500px) {
  .features--container {
    width: 80%;
    margin: 0 auto; }
  .fa-lightbulb {
    transform: translateY(0); } }

@media only screen and (max-width: 1100px) {
  .feautures {
    padding: 0; }
  .features--container {
    grid-template-columns: 1fr; }
  .features--features-box-1 {
    display: flex;
    align-self: center;
    gap: 1.5rem; }
  .features--feature--img {
    width: 50%;
    transform: translateX(50%);
    margin: 0 auto; }
  .features--title {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 4.5rem;
    font-weight: 900;
    color: #1f2470; }
    .features--title::after {
      content: "";
      display: block;
      width: 20%;
      background-image: linear-gradient(#ef1570, #ffa90a);
      height: 5px;
      margin: 0 auto;
      margin-top: 2.5rem; } }

@media only screen and (max-width: 600px) {
  .features--container {
    grid-template-columns: 1fr;
    width: 60%;
    margin: 0 auto; }
  .features--features-box-1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1.5rem; }
  .features--feature--img {
    width: 100%;
    margin: 0 auto;
    transform: translateX(0); }
  .features--title {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 4.5rem;
    font-weight: 900;
    color: #1f2470; }
    .features--title::after {
      content: "";
      display: block;
      width: 30%;
      background-image: linear-gradient(#ef1570, #ffa90a);
      height: 5px;
      margin: 0 auto;
      margin-top: 2.5rem; }
  .fa-lightbulb {
    padding: 1.5rem 2rem;
    font-size: 2.5rem;
    transform: translateY(-2.5rem); } }

@media only screen and (max-width: 600px) {
  .features--container {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto; }
  .features--feature--title {
    font-size: 1.7rem; }
  .features--feature-1 {
    display: flex;
    align-items: center; } }

.blogs {
  padding: 15rem 0; }
  .blogs--container {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem; }
  .blogs--big-title {
    text-align: center;
    font-size: 3.5rem;
    color: #1f2470;
    margin-bottom: 4.5rem;
    font-weight: 900; }
    .blogs--big-title::after {
      content: "";
      display: block;
      width: 10%;
      background-image: linear-gradient(#ef1570, #ffa90a);
      height: 5px;
      margin: 0 auto;
      margin-top: 2.5rem; }
  .blogs--banner {
    border-radius: 1.5rem;
    overflow: hidden; }
  .blogs--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s; }
    .blogs--img:hover, .blogs--img:focus {
      transform: scale(1.1); }
  .blogs--blog {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3rem;
    border-radius: 1.2rem; }
  .blogs--title {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    color: #1f2470; }
  .blogs--text {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #1f2470; }
  .blogs--social-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none; }
  .blogs--date {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 1rem; }
    .blogs--date-stat {
      font-size: 1.5rem;
      color: #1f2470;
      font-weight: 500; }
  .blogs--comment {
    display: flex;
    align-items: center;
    margin-right: 1.3rem;
    gap: 0.5rem; }
    .blogs--comment-stat {
      font-size: 1.5rem;
      color: #1f2470; }

.fa-clock {
  font-size: 1.5rem;
  color: #ef1570; }

.fa-comment {
  font-size: 1.5rem;
  color: #ef1570; }

.fa-share-nodes {
  font-size: 1.5rem;
  color: #ef1570; }

@media only screen and (max-width: 1500px) {
  .blogs--container {
    width: 80%; } }

@media only screen and (max-width: 1200px) {
  .blogs--container {
    grid-template-columns: 1fr;
    width: 90%; }
  .blogs--blog {
    grid-template-columns: 1fr;
    padding: 2rem; } }

.footer {
  background-image: linear-gradient(#b60c53, #1f2470);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .footer--container {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 10rem 0;
    gap: 3.5rem;
    color: #fff; }
  .footer--text {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .footer--box {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
  .footer--title {
    font-size: 2.5rem;
    font-weight: 700; }
  .footer--link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem; }
    .footer--link:hover {
      text-decoration: underline; }
  .footer--social {
    list-style: none; }
  .footer--social-brand {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none; }
  .footer--bottom {
    text-align: center;
    color: #fff;
    background: #ef1f76;
    padding: 1.5rem 0; }
  .footer--rights {
    font-size: 1.5rem; }

.fa-facebook {
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  color: #ef1f76; }

.fa-instagram {
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  color: #ef1f76; }

.fa-twitter {
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  color: #ef1f76; }
