.about {
  &--container {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
  }

  &--img {
    width: 100%;
  }

  &--title {
    font-size: 4rem;
    color: hsl(236, 57%, 28%);
    font-weight: 900;
    margin-bottom: 3rem;

    &::after {
      content: "";
      display: block;
      width: 40%;
      background-image: linear-gradient(hsl(335, 87%, 51%), hsl(39, 100%, 52%));
      height: 5px;
      margin-top: 1.2rem;
    }
  }

  &--text {
    font-size: 1.6rem;
    color: hsl(236, 57%, 28%);
    margin-bottom: 3.5rem;
  }

  &--stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  &--stat-1 {
    font-size: 3.5rem;
    font-weight: 900;
    color: hsl(236, 57%, 28%);
  }
  &--stat-2 {
    font-size: 1.5rem;

    color: hsl(236, 57%, 28%);
  }
}

@media only screen and (max-width: 1550px) {
  .about {
    &--container {
      width: 80%;
      margin: 0 auto;
    }

    &--title {
      font-size: 3rem;
    }

    &--stat-1 {
      font-size: 2.5rem;
    }

    &--stat-2 {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 990px) {
  .about {
    &--container {
      width: 80%;
      grid-template-columns: 1fr;
      margin: 0 auto;
    }

    &--title {
      font-size: 2rem;
    }
  }
}
@media only screen and (max-width: 600px) {
  .about {
    &--stats {
      flex-direction: column;
      gap: 2.5rem;
    }
  }
}
